html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
  }
  
  body {
    
    margin: 0 auto;
    background-color: rgb(219, 217, 217);  
  }
  
  main{
      margin: 5em;
  }
  h1 {
    font-size: 4em;
  }

  h2{
    font-size:3.2em;
    border-bottom: 5px solid rgb(131, 47, 38);
  }

  div{
    background-color: antiquewhite;
    border:8px double rgb(131, 47, 38);
    outline-offset: 0.5rem;
    border-radius: 12px;
    margin-left: 1.3em;
    margin-right: 1.3em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
  }
  
  li {
    font-size: 2.4em;
    font-weight: bold;
    border-bottom: solid rgb(131, 47, 38);
    list-style-type: none;
  }
  
  h3{
      font-size:2.0em;
      border-bottom: 2px solid rgb(131, 47, 38);
      margin-top: 1.5em;
  }

  p {
    font-size: 1.7em;
  }

  header{
      background-color:#e54800;
      height: 10em;
      padding:2em
  }

  footer{
    background-color:#e54800;
    height: 5em;
    padding:2em
  }

  a:link {
    color: blue;
  }
  
  a:visited {
    color: rgb(78, 33, 160);
  }
  
  a:hover {
    text-decoration: rgb(243, 50, 98);
  }
  