html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
  }
  
  body {
    
    margin: 0 auto;
    background-color: rgb(219, 217, 217);  
  }
  
  main{
      margin: 5em;
  }
  h1 {
    font-size: 4em;
  }

  h2{
    font-size:3.2em;
    background-color: rgb(255, 251, 0);
    border: solid;
  }
  
  li {
    font-size: 2.4em;
    font-weight: bold;
    background-color: rgb(25, 158, 7);
    border: solid;
  }
  
  h3{
      font-size:2.0em;
  }

  p {
    font-size: 1.7em;
  }

  header{
      background-color:#e54800;
      height: 10em;
      padding:2em
  }

  footer{
    background-color:#e54800;
    height: 5em;
    padding:2em
  }

  a:link {
    color: blue;
  }
  
  a:visited {
    color: rgb(78, 33, 160);
  }
  
  a:hover {
    text-decoration: rgb(243, 50, 98);
  }
  
  p.setumei {
    border: 5px solid blue;
    padding: 30px;
    background: orange;
}